@import "partials/abstract/mixins.scss";
@import "partials/abstract/variables.scss";

.menu-icon {
  position: fixed;
  right: 2.2rem;
  top: 1.5rem;
  width: 3rem;
  font-size: 2.8rem;
  display: none;
  z-index: 9;
  @include respond(tab-port) {
    display: block;
  }
}

.closeMenu {
  display: none;
  padding: 0.5rem 1rem;
  color: $light-100;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 0;
  opacity: 0.5;
}
.minimizeMenu_container {
  padding: 0rem 1rem 4rem 2rem;

  span {
    color: $light-100;
    font-size: 4rem;
    cursor: pointer;
  }
  display: none;
  @include minSize($canvas: L) {
    display: block !important;
  }
}

.sidebar {
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  z-index: 3;
  position: fixed;
  bottom: 0;
  background: $accent;
  height: 100%;
  width: 0% !important;

  &-toggler {
    position: fixed;
    top: 7.2rem;
    transition: 0.3s all ease-in-out;
    left: 21.8rem;
    z-index: 5;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: $light-100;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
    display: none;
    @include minSize($canvas: L) {
      display: flex !important;
    }
    &_minimized {
      top: 7.2rem;
      left: calc(28.6rem - 23.6rem) !important;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  @include minSize($canvas: L) {
    width: 23.6rem !important;
    display: block !important;
    &_minimized {
      width: 6.8rem !important;
    }
  }
  @include respond(tab-port) {
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: rgba($dark, 0.8);
      &.overlay-isOpen {
        width: 100%;
        z-index: 3;
        .closeMenu {
          display: block;
        }
      }
    }
    &-isOpen {
      width: 40% !important;
    }
  }
  @media (max-width: 600px) {
    &-isOpen {
      width: 80% !important;
    }
  }
  &-wrapper {
    position: relative;
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    @include minSize($canvas: L) {
      padding: 10.4rem 0rem 2rem 0rem;
    }
    .top-list {
      height: 100%;
    }
    @include respond(tab-port) {
      padding: 7rem 0;
      .top-list {
        height: 100%;
      }
    }
    ul {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      .auto {
        margin-top: auto;
      }
      li {
        list-style: none;
        .side-link {
          position: relative;
          font-size: 1.4rem;
          padding: 1.3rem 2.3rem;
          margin: 0.5rem 0;
          display: flex;
          color: $light-100;
          opacity: 0.6;
          align-items: center;
          text-decoration: none;
          transition: all 0.3s ease;
          span {
            line-height: 0;
          }
          .side-icon {
            margin-right: 2.7rem;
          }
          &:hover {
            opacity: 1;
          }
        
          &.active {
            background: rgba($dark, 0.07);
            opacity: 1;
            .border {
              display: block;
            }
            
          }

          .border {
            position: absolute;
            right: 0;
            display: none;
            background: $accent;
            width: 0.4rem;
            height: 3.2rem;
            border-radius: 0 0.3rem 0.3rem 0;
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
        }

        .logout {
          height: 48px !important;
          background: rgba(0, 0, 0, 0.5) !important;
          border-radius: 6px !important;
          margin: 0rem 1rem;
          margin-top: auto !important;
          .side-icon {
            margin-right: 1.8rem;
          }
        }
      }
    }
  }
}
