<div>
  <div class="menu-icon" (click)="toggleSidebar()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      aria-hidden="true"
      role="img"
      width="1em"
      height="1em"
      preserveAspectRatio="xMidYMid meet"
      viewBox="0 0 24 24"
    >
      <g
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M3 12h18" />
        <path d="M3 6h18" />
        <path d="M3 18h18" />
      </g>
    </svg>
  </div>
  <div
    class="sidebar-overlay"
    [ngClass]="{ 'overlay-isOpen': isOpen }"
    (click)="toggleSidebar()"
  >
    <div class="closeMenu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 512 512"
      >
        <path
          fill="#fff"
          d="M325.297 256l134.148-134.148c19.136-19.136 19.136-50.161 0-69.297c-19.137-19.136-50.16-19.136-69.297 0L256 186.703L121.852 52.555c-19.136-19.136-50.161-19.136-69.297 0s-19.136 50.161 0 69.297L186.703 256L52.555 390.148c-19.136 19.136-19.136 50.161 0 69.297c9.568 9.567 22.108 14.352 34.648 14.352s25.081-4.784 34.648-14.352L256 325.297l134.148 134.148c9.568 9.567 22.108 14.352 34.648 14.352s25.08-4.784 34.648-14.352c19.136-19.136 19.136-50.161 0-69.297L325.297 256z"
        />
      </svg>
    </div>
  </div>
  <section
    class="sidebar"
    [ngClass]="[
      isOpen && showMinimizedMenu ? 'sidebar_minimized sidebar-isOpen' : '',
      showMinimizedMenu ? 'sidebar_minimized' : '',
      isOpen ? 'sidebar-isOpen' : ''
    ]"
  >
    <div
      class="sidebar-toggler"
      [ngClass]="[showMinimizedMenu ? 'sidebar-toggler_minimized' : '']"
      (click)="minimizeMenu()"
    >
      <img
        [src]="
          showMinimizedMenu
            ? 'assets/icons/arrow-right.svg'
            : 'assets/icons/arrow-left.svg'
        "
        alt=""
      />
    </div>
    <div class="sidebar-wrapper">
      <ul class="top-list">
        <li  *rbacAllow="['user']"> 
          <a
            class="side-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="/user"
            (click)="toggleSidebar()"
          >
            <span class="side-icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_539_9096)">
                  <path
                    d="M8.33366 9.99984H18.3337M7.50033 18.3332H12.5003C16.667 18.3332 18.3337 16.6665 18.3337 12.4998V7.49984C18.3337 3.33317 16.667 1.6665 12.5003 1.6665H7.50033C3.33366 1.6665 1.66699 3.33317 1.66699 7.49984V12.4998C1.66699 16.6665 3.33366 18.3332 7.50033 18.3332ZM8.33366 1.6665V18.3332V1.6665Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_539_9096">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <span>Dashboard</span>
            <span class="border"></span>
          </a>
        </li>
        <li  *rbacAllow="['admin']"> 
          <a
            class="side-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="/admin/dashboard"
            (click)="toggleSidebar()"
          >
            <span class="side-icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_539_9096)">
                  <path
                    d="M8.33366 9.99984H18.3337M7.50033 18.3332H12.5003C16.667 18.3332 18.3337 16.6665 18.3337 12.4998V7.49984C18.3337 3.33317 16.667 1.6665 12.5003 1.6665H7.50033C3.33366 1.6665 1.66699 3.33317 1.66699 7.49984V12.4998C1.66699 16.6665 3.33366 18.3332 7.50033 18.3332ZM8.33366 1.6665V18.3332V1.6665Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_539_9096">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <span>Dashboard</span>
            <span class="border"></span>
          </a>
        </li>
        <li *rbacAllow="['admin']">
          <a
            class="side-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="/admin/users"
            (click)="toggleSidebar()"
          >
            <span class="side-icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.1334 9.05866C10.05 9.05033 9.95004 9.05033 9.85838 9.05866C7.87501 8.99199 6.30001 7.36699 6.30001 5.36699C6.30001 3.32533 7.95001 1.66699 10 1.66699C12.0417 1.66699 13.7 3.32533 13.7 5.36699C13.6917 7.36699 12.1167 8.99199 10.1334 9.05866ZM5.9666 12.1337C3.94993 13.4837 3.94993 15.6837 5.9666 17.0253C8.25827 18.5587 12.0166 18.5587 14.3083 17.0253C16.325 15.6753 16.325 13.4753 14.3083 12.1337C12.025 10.6087 8.2666 10.6087 5.9666 12.1337Z"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span>User Management</span>
            <span class="border"></span>
          </a>
        </li>
        <li *rbacAllow="['admin']">
          <a
            class="side-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            routerLink="/admin/account"
            (click)="toggleSidebar()"
          >
            <span class="side-icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.1334 9.05866C10.05 9.05033 9.95004 9.05033 9.85838 9.05866C7.87501 8.99199 6.30001 7.36699 6.30001 5.36699C6.30001 3.32533 7.95001 1.66699 10 1.66699C12.0417 1.66699 13.7 3.32533 13.7 5.36699C13.6917 7.36699 12.1167 8.99199 10.1334 9.05866ZM5.9666 12.1337C3.94993 13.4837 3.94993 15.6837 5.9666 17.0253C8.25827 18.5587 12.0166 18.5587 14.3083 17.0253C16.325 15.6753 16.325 13.4753 14.3083 12.1337C12.025 10.6087 8.2666 10.6087 5.9666 12.1337Z"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span>Account</span>
            <span class="border"></span>
          </a>
        </li>

        <li class="auto">
          <a class="side-link click">
            <span class="side-icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.41685 6.3002C7.67518 3.3002 9.21683 2.0752 12.5918 2.0752H12.7002C16.4252 2.0752 17.9168 3.56686 17.9168 7.29186V12.7252C17.9168 16.4502 16.4252 17.9419 12.7002 17.9419H12.5918C9.24183 17.9419 7.70018 16.7335 7.42518 13.7835M12.5002 10.0002H3.01683M4.87516 7.20845L2.0835 10.0001L4.87516 12.7918"
                  stroke="#596180"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span (click)="logout()">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
