// Button Primary
.btn_primary {
  font-family: $nunito_font_bold;
  background: $accent;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(35, 65, 179, 0.25);
  border-radius: 0.8rem;
  font-weight: 700;
  line-height: 150%;
  color: $light-100;
  transition: 0.3s all ease-in-out;
  border: none !important;
  white-space: nowrap;
  &:hover,
  &:focus {
    border-radius: 4rem;
    // background: linear-gradient(180deg, $gradient1 0%, $gradient2 100%);
  }
  &:disabled {
    background: rgba($header, 0.15);
    cursor: not-allowed;
  }
  @include respond(phone) {
    padding: 1.2rem !important;
    font-size: 1.4rem !important;
  }
}

// Button Outlined
.btn_outlined {
  white-space: nowrap;

  font-family: $nunito_font_bold;
  background: transparent;
  border: 0.1rem solid $accent;
  box-shadow: 0 0.2rem 0.8rem -0.1rem rgba(255, 136, 0, 0.15);
  border-radius: 0.8rem;
  font-weight: 700;
  line-height: 150%;
  color: $accent;
  transition: 0.3s all ease-in-out;
  &:hover,
  &:focus {
    border: 0.1rem solid $accent;
    color: $accent;
    border-radius: 4rem;
  }
  &:disabled {
    border: 0.1rem solid #bababd;
    cursor: not-allowed;
  }
  @include respond(phone) {
    padding: 1.2rem !important;
    font-size: 1.4rem !important;
  }
}

.btn_md {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  @include respond(phone) {
    font-size: 1.4rem !important;
  }
}

.btn_sm {
  padding: 1.2rem;
  font-size: 1.4rem;
  @include respond(phone) {
    font-size: 1.2rem !important;
  }
}

.btn_white {
  color: $light-100;
  border: 1px solid $light-100;
}

.btn_full {
  width: 100%;
}

.badge {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7.5rem;
  border-radius: 0.5rem;
  &-error {
    background: rgba($error, 0.1);
    color: $error;
    border: 0.1rem solid $error;
  }
  &-success {
    background: rgba($success, 0.1);
    color: $success;
    border: 0.1rem solid $success;
  }
  &-warning {
    background: rgba($warning, 0.1);
    color: $warning;
    border: 0.1rem solid $warning;
  }
  &-tip {
    background: rgba($tip, 0.1);
    color: $tip;
    border: 0.1rem solid $tip;
  }
}

.badge {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7.5rem;
  border-radius: 0.5rem;
  &-error {
    background: rgba($error, 0.1);
    color: $error;
    border: 0.1rem solid $error;
  }
  &-success {
    background: rgba($success, 0.1);
    color: $success;
    border: 0.1rem solid $success;
  }
  &-warning {
    background: rgba($warning, 0.1);
    color: $warning;
    border: 0.1rem solid $warning;
  }
  &-tip {
    background: rgba($tip, 0.1);
    color: $tip;
    border: 0.1rem solid $tip;
  }
}
