<div class="dialog-header" >
  <h4>Confirmation</h4>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/close.svg" alt="close" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <h3>Are you sure?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    class="btn btn_outline btn_md me-4"
    #close
  >
    Cancel
  </button>
  <button
    mat-button
    cdkFocusInitial 
    mat-dialog-close
    class="btn btn_primary btn_md"
    (click)="emit()"
  >
    Continue
  </button>
</mat-dialog-actions>
