// colors and fonts go here.

//Primary Colors
$dark: #0f1733;
$gray: #313959;
$accent: #7433d3;
$light-100: #ffffff;
$light-200: #edf1ff;

// Subordinate Colours
$pink: #b2398c;
$purple: #6a36b3;
$aqua: #52ccc4;
$header: #0f1c4d;
$body: #596180;

// Alerts
$success: #287d3c;
$warning: #b95000;
$error: #da1414;
$info: #2e5aac;
$tip: #4d4d4d;

//Fonts
$nunito_font: "Nunito Sans", sans-serif;
$nunito_font_bold: "Nunito Sans bold", sans-serif;
$nunito_font_extra_bold: "Nunito Sans extra-bold", sans-serif;
