.form_group {
  font-family: $nunito_font;
  margin-bottom: 1.6rem;
  @include respond(phone) {
    margin-bottom: 1.2rem;
  }
  label {
    margin-bottom: 0.2rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $body;
  }

  .input-group {
    span {
      display: flex;
      background: #dee2f1;
      border: none;
      border-radius: 0 0.8rem 0.8rem 0;
      padding: 1.2rem 1.4rem;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 150%;
      color: $body;
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    border-radius: 0.8rem;
    border: none;
    height: 4.8rem;
    font-size: 1.4rem !important;
    padding: 1.2rem 1.6rem;
    background: $light-200 !important;
    @include respond(phone) {
      height: 3.8rem;
      padding: 1.2rem;
    }
    &::placeholder {
      color: rgba($body, 0.6);
    }

    &:focus {
      background-color: $light-100;
      color: $accent;
      border: 0.1rem solid rgba($accent, 0.4);
      box-shadow: none !important;
    }
    &:active,
    &:focus {
      box-shadow: none !important;
      background: $light-100;
      border: 0.1rem solid $accent;
    }
    &:disabled {
      background: rgba($light-200, 0.8);
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &::placeholder {
        color: rgba($body, 0.6);
      }
    }
    &.is-invalid {
      border: 0.1rem solid $error !important;
      background-color: $light-100;
    }
    &.success {
      border: 0.1rem solid $success !important;
      background-color: $light-100;
    }
    &.warning {
      border: 0.1rem solid $warning !important;
      background-color: $light-100;
    }
  }

  textarea {
    height: 100% !important;
  }
}

.dialog-header {
  display: flex !important;
  justify-content: space-between !important;
  padding-bottom: 1.4rem;
  border-bottom: 0.1rem solid rgba($aqua, 0.1);
}
