@import "partials/abstract/mixins.scss";
@import "partials/abstract/variables.scss";

.wrapper {
  height: 100%;
  &__layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-top: 5.6rem;
    height: 100%;
    transition: 0.2s ease-in-out;
    padding: 2rem 1rem;
    // background: $purple-100;
    position: relative;
    @include minSize($canvas: L) {
      width: calc(100% - 23.6rem);
      margin-left: 23.6rem;
      margin-top: 5.6rem;
      padding: 1.6rem 6.4rem 6rem;
      &.showMinimized {
        width: calc(100% - 6.8rem);
        margin-left: 6.8rem;
      }
    }
  }
}
