@import "partials/abstract/mixins.scss";
@import "partials/abstract/variables.scss";

.graph {
  background: $light-100;
  box-shadow: 0px 0px 20px rgba(37, 99, 235, 0.1);
  border-radius: 0.8rem;
  padding: 2.4rem;
  height: 100%;
  margin-bottom: 1.6rem;
  &_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    h4 {
      font-family: $nunito_font_extra_bold;
      margin-bottom: 1rem;
      font-weight: 900;
      font-size: 1.6rem;
      line-height: 1rem;
      color: $header;
    }
  }
}
