<div class="wrapper">
  <div class="wrapper__navbar">
    <a routerLink="/">
      <div class="logo">
        <!-- <img src="assets/icons/company_logo.png" alt="Lpp Logo" /> -->
      </div>
      <p class="text">Revent Management System</p>
    </a>
  </div>

  <div class="wrapper__content">
    <div class="form">
      <h3 class="wrapper-heading">Welcome back</h3>
      <p class="wrapper-paragraph">Let’s pick up where we left off</p>
      <div class="wrapper__form">
        <form [formGroup]="loginForm">
          <div class="form_group">
            <label for="email" class="form-label">Email </label>
            <input
              #input
              type="email"
              id="email"
              class="form-control"
              placeholder="Enter Your Email Address"
              formControlName="email"
              (keyup)="checkForKeyEnter($event)"
              autocomplete="email"
              [ngClass]="{
                'is-invalid':
                  (email!.hasError('email') &&
                    (email!.dirty || email!.touched)) ||
                  (email!.hasError('email') && !email!.hasError('required'))
              }"
            />
            <span
              class="invalid-feedback"
              *ngIf="
                email!.hasError('email') && (email?.dirty || email?.touched)
              "
              >Required</span
            >
            <span
              class="invalid-feedback"
              *ngIf="email?.hasError('email') && !email?.hasError('required')"
              >Please provide a valid email address</span
            >
          </div>
          <div class="form_group position-relative">
            <label for="password" class="form-label">password </label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              class="form-control"
              placeholder="Enter Password"
              formControlName="password"
              (keyup)="checkForKeyEnter($event)"
              autocomplete="current-password"
              [ngClass]="{
                'is-invalid':
                  password!.errors && (password!.dirty || password!.touched)
              }"
            />

            <img
              (click)="showPassword = !showPassword"
              src="assets/icons/eye-icon-{{
                showPassword ? 'open' : 'close'
              }}.svg"
              alt="eye close icon"
              class="svg_eye"
            />

            <span
              class="invalid-feedback"
              *ngIf="password!.hasError('required')"
            >
              Password is required
            </span>
            <small
              class="invalid-feedback mt-2"
              *ngIf="password!.dirty && password!.invalid"
            >
              *Your password must have at least
              <span
                *ngIf="
                  password!.hasError('minlength') ||
                  password!.hasError('required')
                "
                >8 characters,
              </span>
              <span
                *ngIf="
                  password!.hasError('hasNumber') ||
                  password!.hasError('required')
                "
                >1 number,</span
              >
              <span
                *ngIf="
                  password!.hasError('hasCapitalCase') ||
                  password!.hasError('required')
                "
              >
                1 capital letter,
              </span>
              <span
                *ngIf="
                  password!.hasError('hasSmallCase') ||
                  password!.hasError('required')
                "
              >
                1 small letter,
              </span>
              <span
                *ngIf="
                  password!.hasError('hasSpecialCharacters') ||
                  password!.hasError('required')
                "
              >
                and 1 special character.
              </span>
            </small>

         
          </div>
          <div class="form_group">
            <button
              class="btn_primary btn_md btn_full"
              [title]="
                loginForm.invalid ? 'pls input correct details' : 'Sign In'
              "
              (click)="login()"
              [disabled]="isLoading$ |async"
            >
              <span *ngIf="!(isLoading$ |async)"> Sign In </span>
            
                <app-global-loader
                  [diameter]="20"
                  [inline]="true"
                  [showLoader$]="isLoading$"
                ></app-global-loader>
            
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="wrapper__footer">
    <div>
      <p class="text">Powered by Revent</p>
      <div class="logo">&copy; {{ date }}</div>
    </div>
  </div>
</div>
