@import "partials/abstract/mixins.scss";
@import "partials/abstract/variables.scss";

.main {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-top: -4.8rem;
  background: $light-100;
  backdrop-filter: blur(0.8rem);
  box-shadow: 0px 12px 24px rgba(37, 99, 235, 0.1);
  border-radius: 0.8rem;
  height: 100%;
  z-index: 100;
  padding: 1.6rem 2.4rem;
  &__heading {
    font-family: $nunito_font_extra_bold;
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $header;
  }

  &_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    &-right {
      display: flex;
    }
  }
}
