@import "partials/abstract/variables";
@import "partials/abstract/mixins";

h4 {
  font-family: $nunito_font_bold;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: $accent;
  margin-bottom: 1rem;
  margin-top: -4rem;
  text-transform: capitalize;
}
.wrapper {
  background: $light-100;
  box-shadow: 0rem 0rem 0.8rem rgba($accent, 0.15);
  border-radius: 0 0 0.8rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
  @include screenSize($canvas: S) {
    padding: 5rem 0;
  }
  &_image {
    margin-bottom: 1.6rem;
  }
  &_header {
    margin-bottom: 1.6rem;
    h4 {
      margin-bottom: 0;
      margin-top: 0rem !important;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $body;
    }
  }
  &_info {
    margin-bottom: 1.6rem;
    p {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $body;
    }
  }
  &_action {
    display: flex;
    justify-content: center;
  }
}
