<app-main-header
  title="Good {{
    hour < 12 ? 'morning' : hour >= 12 && hour <= 17 ? 'afternoon' : 'evening'
  }},  {{ user!.lastName }} {{ user!.firstName }}"
  paragraph="Welcome. Here’s the latest update on your Klinicly account."
></app-main-header>


<div class="main">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <app-report-card
            [name]="'All Registered Users'"
            [count]="usersLength"
            color="purple"
            [loading]="isLoadingDashboardCount"
          ></app-report-card>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <app-report-card
            [name]="'Registered Today'"
            [count]="todayUsersLength"
            color="pink"
            [loading]="isLoadingDashboardCount"
          ></app-report-card>
        </div>
       
      </div>

      <div class="row">
        <app-graph> </app-graph>
      </div>
    </div>
  </div>
</div>
