/* You can add global styles to this file, and also import other style files */

@import "partials/abstract/mixins";
@import "partials/abstract/variables";
@import "partials/base/base";
@import "partials/base/typography";
@import "partials/base/buttons"; 
@import "partials/components/forms";
// @import "partials/components/scrollbar";

.cdk-overlay-pane {
    max-width: 91vw !important;
    .mat-dialog-container {
      width: 85rem !important;
    }
  }
  
  .mat-dialog-title {
   
    font-family: $nunito_font_bold !important;
  }
  
  .mat-dialog-container {
    padding: 2.4rem 4rem 4rem 4rem !important;
  }
  .modal-width .mat-dialog-container {
    max-width: 52rem !important;
  }